.container {
    display: flex;
    border: 3px solid lightblue;
    flex-direction: row;
    width: 400px;
}

.flex-item {
    color: black;
    width: 120px;
    flex-shrink: 0;
}

.item-1 {
    background-color: lightcoral;
    flex-shrink: 5;
}

.item-2 {
    background-color: lightyellow;
    flex-shrink: 2;
}

.item-3 {
    background-color: lightseagreen;
    flex-shrink: 1;
}

.item-4 {
    background-color: lightpink;
}